body
{
    background-color: white
}

hr
{
    width: 100%;
}

img
{
	margin:5px;
}


.flex { display: flex ;}
.flex-row { flex-direction: row ;}
.bg-white { background-color: white ;}
.border { border: 1px solid black ;}

.titulo
{
    font-size: 80px;
    margin: 0;
    margin-bottom: -42px;
}

.subtitulo
{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    color:rgb(96, 98, 100);
    font-weight: 100;
}

.linha_cabecalho
{
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    justify-content: center;
}

.texto_descricao
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color:rgb(96, 98, 100);
}

.botao
{
    display: flex;
    justify-content:flex-start;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
}

.imagens
{
    align-items:baseline;
    width: auto;
}

.input_calcular_area
{
    background-color: rgb(240, 239, 239);
    border: 0;
    border-radius: 2px;
    height: 26px;
    width: 120px;
}

.botao_calcular_area
{
    border-color: rgb(126, 123, 123);
    border-radius: 2px;
    height: 28px;
    width: 120px;
    color: rgb(59, 57, 57);
    margin-left: 6px;
}
